* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    font-size: 20px;
   
}

a {
    text-decoration: none;
}

body {
    background-image: url(./novoback.jpg);
    
    background-position: center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(0, 196, 122);
    box-shadow: 2px 2px 10px 2px; color: rgb(0, 196, 122);
    margin-bottom: 45px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 10px;

}
header ul li a:hover {
    color: rgb(0, 196, 122);
    text-decoration: underline;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: 100px;
}

.container .name h5 {
    font-size: 40px;
    color: rgb(0, 196, 122);
    margin-bottom: 15px;
}

#arrow{
    font-size: 35px;
    cursor: pointer;
    color: white;
    margin-bottom: 15px;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about {
    max-width: 60%;

    margin: 0 auto;
    font-size: 20px;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    

}

.form p {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;

    
}
.form input {
    width: 60%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 25%;
    padding: 8px 10px;
    background-color: black;
    color: rgb(0, 196, 122);
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}

.form button:hover {
    color: white;
    background-color: rgb(0, 196, 122);

}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }

    body {
        background-size: cover;}
}


@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 20px;
    }

    
    #about {
        max-width: 80%; text-align: justify;}
    
    header ul li {
        font-size: medium;
        max-width: 30%; text-align: justify;}
    
    body {
        background-size: cover;}
}